**.Rproj.user
**.Rhistory
**.RData
**.Ruserdata
**.DS_Store
**.rdb
**.rdx
**.png
**.js
**.woff
**.css
mixing-experts/mixing-experts-not-anon_files/.DS_Store
_extensions
money/assignat.jpg
money/boe_infographic.png
money/briefcase.jpeg
money/luckies.png
money/pennies.jpg
money/robinhood.png
money/the_brothers_bloom.webp
money/venmo.jpeg
money/venmo.webp
money/voo.png
money/walmart.jpg
money/money-aa-slides_files/
four-problems/four-prob_cache/
four-problems/four-prob_files/
.Rproj.user
