fig-ageeffecteverything-1.jpeg
fig-ageeffecttibble-1.jpeg
fig-articlecounts-1.jpeg
fig-articlecounts-2.jpeg
fig-articlesperyear-1.jpeg
fig-citationcounts-1.jpeg
fig-citationcounts-2.jpeg
fig-citationrate-1.jpeg
fig-citationrate-2.jpeg
fig-citationsperyear-1.jpeg
fig-cohort-1.jpeg
fig-fourdeviations-1.jpeg
fig-fourdeviations-2.jpeg
fig-fourdeviations-3.jpeg
fig-fourdeviations-4.jpeg
fig-outboundcitations-1.jpeg
fig-peakratio-1.jpeg
fig-peakratiotime-1.jpeg
fig-rawage-1.jpeg
