/*-- scss:defaults --*/

$sidebar-bg: #fdf6e3;
$navbar-bg: #fdf6e3;
$body-bg: #fdf6e3;
$body-color: #000;
$modal-content-bg: #fdf6e3;
$popover-bg: #fdf6e3;
$dropdown-bg: #fdf6e3;
$input-bg: #eee8d5;
$dropdown-link-hover-color:         rgba(255, 255, 255, .75) !default;
$dropdown-link-hover-bg:            #073642  !default;
$table-border-color:    #fdf6e3 !default;
$table-dark-bg:              #073642 !default;

/*-- scss:rules --*/


table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
    border-top: 0px solid black;
}
table th, td, tr {
    padding: -1px -1px;
    border-top: solid 2px #fdf6e3;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: #fdf6e3;
}


caption {
  font-size: smaller;
}